<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: header" />
<body>
	<header class="header" th:include="fragments/menu :: menu" />

	<section id="main-section" class="container-fluid">
	 <div class="alert alert-danger" role="alert" th:if="${error}">
 <button type="button" class="close" data-dismiss="alert">×</button>
  	<center><span th:remove="tag" th:text="${error}">Error message</span></p></center>
   </div>
  <div class="alert alert-success" role="alert" th:if="${success}">
  <button type="button" class="close" data-dismiss="alert">×</button>
  	<center><span th:remove="tag" th:text="${success}">Success message</span></p></center>
   </div>
		<header class="page-header">
			<h1>Spring MVC Security Example [JOE]</h1>
		</header>
		<p>Test application for Spring MVC with security</p>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Logged user data</h3>
			</div>
			<div class="panel-body">
				<dl>
					<dt>Username</dt>
					<dd>
						<span sec:authentication="name">Unknown</span>
					</dd>
					<dt>Roles</dt>
					<dd>
						<span sec:authentication="principal.authorities">No roles</span>
					</dd>
				</dl>
			</div>
		</div>
	</section>

	<footer>
		<div th:include="fragments/scripts :: general" />
	</footer>
</body>

</html>
